body {
  font-family: "Dosis", sans-serif;
  background: #f5f6fa;
}

.navbar-header {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
}

.navigation-head {
  height: 90px;
}

.container-style {
  height: 100%;
  margin: 0 75px;
}

.home-logo {
  padding-right: 50px;
}

.logo {
  height: 100%;
  width: 100%;
}

.home-links {
  padding-top: 45px;
}

.cart {
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;
}

.cartAmount {
  font-size: 16px;
  color: black;
  display: inline;
  padding: 3px;
  border-radius: 3px;
}

.copy-right {
  margin-top: 4%;
  background-color: rgba(204, 198, 198, 0.776);
}

.form-input {
  display: inline;
  width: 100%;
}

.form-control-lg {
  border-radius: initial !important;
}

.form-attribute:focus-within .form-label {
  color: rgb(18, 181, 175);
}

.SignInBtn {
  border: none;
  outline: 0;
  background-color: rgba(246, 241, 241, 0.388);
}

input[type=text],
input[type=email],
input[type=password] {
  border: none;
  border-bottom: 2px solid rgba(204, 198, 198, 0.776);
  outline: 0;
  font-size: 12px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border: none;
  outline: 0;
  border-bottom: 2px solid rgb(18, 181, 175);
}
input[type=text]:invalid:focus:not(:-moz-placeholder-shown) ~ .requirements, input[type=email]:invalid:focus:not(:-moz-placeholder-shown) ~ .requirements, input[type=password]:invalid:focus:not(:-moz-placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}
input[type=text]:invalid:focus:not(:-ms-input-placeholder) ~ .requirements, input[type=email]:invalid:focus:not(:-ms-input-placeholder) ~ .requirements, input[type=password]:invalid:focus:not(:-ms-input-placeholder) ~ .requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}
input[type=text]:invalid:focus:not(:placeholder-shown) ~ .requirements,
input[type=email]:invalid:focus:not(:placeholder-shown) ~ .requirements,
input[type=password]:invalid:focus:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}

.loginForm {
  margin-top: 24px;
}

.requirements {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  font-style: italic;
}

#carouselContainerList li, .carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: black;
}
#carouselContainerList li {
  width : 5px;
  height: 5px;
  display: inline-block;
  border-radius: 
  50px !important;
  border-top: unset !important;
  border-bottom: unset !important;
}

#carouselExampleIndicators {
  margin-top: 12px
}

#carouselInner {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.categorieCard {
  border-radius: unset !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cardContainer {
  margin-top: 12px;
}

.categorieButton {
  background-color: crimson;
  color: white;
  border: none;
}

.categorieCard .categoryItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categorieCard:nth-child(even) .categoryItem {
  flex-direction: row-reverse;
}
.categorieCard .categoryItem .card-body {
  text-align: center;
}

.form-container {
  margin-top: 50px;
}/*# sourceMappingURL=style.css.map */

/* css for product.html */

*{
	list-style: none;
	text-decoration: none;
}

.wrapper .sidebar{
	background: rgb(241, 237, 237);
	/* position: absolute; */
  /* top: 90px; */
	/* left: 12px; */
	width: 100%;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}

.wrapper .sidebar ul li .item{
	display: block;
	padding: 13px 30px;
	color: black;
	font-size: 16px;
	position: relative;
}

.wrapper .sidebar ul li .item:hover,
.wrapper .sidebar ul li .item.active{
	color:black;
	background:crimson;
}


.wrapper .sidebar ul li .item:hover:before,
.wrapper .sidebar ul li .item.active:before{
	display: block;
}

.wrapper .section{
	width: 100%;
	transition: all 0.5s ease;
}

 .wrapper .section .container{
	background: #fff;
	padding: 50px;
	line-height: 28px;
}

body.active .wrapper .sidebar{
	left: -225px;
}

body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}

ol, ul {
  padding-left: 0rem !important;
}

.anchorTag {
  text-decoration: none !important;
}

/* card style for product page */
.despCard {
  background-color: var(--bs-card-cap-bg);
  border: 1px;
  margin: 6px;
}

.card-footer {
  background-color: unset !important;
  border-top: unset !important;
}

.btnStyle {
  background: crimson !important;
  float: right;
  border-radius: unset !important;
}

.proContainer {
  width: 100%;
  height: 100% !important;
  box-shadow: 0 12px 3px -20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border-radius: unset !important;
  border: none !important;
}
